body {
    background-color: #c1c1c2;
    margin: 0px;
}

header {
    width: 100%;
    height: 50px;
    display: block;
    background-color: blueviolet;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

main {
    width: 1000px;
    display: table;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.box-container {
    width: 300px;
    display: table;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.box {
    width: 100%;
    height: 200px;
    display: block;
    background-color: chartreuse;
    border-radius: 8px;
    border: 4px solid blueviolet;
    box-sizing: border-box;
}

.botao {
    width: 100%;
    height: 50px;
    background-color: blue;
    border-radius: 8px;
    display: block;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}