@keyframes primeira-animacao {
    0% {
        background-color: #ffe600;
        border-radius: 50%;
    }

    25% {
        background-color: #00ff44;
        border-radius: 0%;
        transform: translateX(570px);
    }

    50% {
        background-color: #ff004c;
        border-radius: 50%;

    }

    75% {
        background-color: #0015ff;
        border-radius: 0%;
    }

    100% {
        background-color: #ffe600;
        border-radius: 50%;
        transform: translateX(570px);
    }
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    height: 500px;
    display: block;
    background-color: #1aae0d;
    margin: 100px auto;
}

.my-box {
    width: 150px;
    height: 150px;
    display: block;
    background-color: aquamarine;
    transition: all 3s;
    animation: primeira-animacao 3s infinite;
}