@keyframes primeira-animacao {
    from {
        width: 150px;
        height: 150px;
        background-color: aquamarine;
    }

    to {
        width: 100%;
        height: 150px;
        background-color: red;
    }
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    height: 500px;
    display: block;
    background-color: #1aae0d;
    margin: 100px auto;
}

.my-box {
    width: 150px;
    height: 150px;
    display: block;
    background-color: aquamarine;
    transition: all 3s;
    animation: primeira-animacao 3s infinite;
}