body {
    margin: 0;
    background-color: antiquewhite;
}

main {
    width: 70%;
    background-color: rgb(143, 188, 172);
    display: table;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);

}

.card-container {
    width: 270px;
    display: table;
    float: left;
}

.card {
    width: 100%;
    display: table;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.card .card-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.card .card-body {
    display: table;
    margin-top: 12px;
}

.card .card-body h1 {
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 24px;
    color: blueviolet;
    margin: 0;
}

.card .card-footer {
    margin-top: 12px;
}

/* Botões */
.btn {
    width: auto;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color: white;
    display: inline-block;
    background-color: rgb(0, 255, 51);
    border-radius: 4px;
    padding: 0 30px;
    box-sizing: border-box;
}

.card .card-footer .btn {
    width: 100%;
}