body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 500px;
    display: flex;
    background-color: aqua;
    border-radius: 8px;
    margin: 50px auto;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 100%;
    background-color: blueviolet;
    border-radius: 8px;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 8px solid black;
    flex-basis: 300px;
}

.order-01 {
    order: 1;
}

.order-02 {
    order: 2;
}

.order-03 {
    order: 3;
}

.order-04 {
    order: 4;
}

.grow-01 {
    flex-grow: 1;
}

.grow-03 {
    flex-grow: 3;
}

.grow-04 {
    flex-grow: 4;
}

.shrink-01 {
    flex-shrink: 1;
}

.shrink-02 {
    flex-shrink: 3;
}

.shrink-03 {
    flex-shrink: 4;
}