body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 500px;
    display: flex;
    background-color: aqua;
    border-radius: 8px;
    margin: 50px auto;
    box-sizing: border-box;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 100%;
    background-color: blueviolet;
    border-radius: 8px;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 8px solid black;
    flex-basis: 25%;
}